.bg{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    color: #333;
    font-family: Roboto!important;
    outline: 0!important;
    background: #3a5680;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.heading1,
.home,
.allCourses{
    margin-left: 10px;
    margin-top: 8px;
    text-decoration: none !important;
    color: #ffff;
    cursor: pointer;
}

.heading2{
    margin-right: 20px;
    outline: none !important;
    border: none !important;
    color: #fff;
    text-decoration: none !important;
    background-color: #3a5680;
    padding:0 10px;
    display: flex;
}

.Support_index,
.forum_index {
    text-decoration: none !important;
    color: #fff;
    display: flex;
    padding-top: 10px;
}